body{
    background-color: #E5E5E5;
}
main{
    background-color: #E5E5E5;
}

#aboutPage{
    background-color: #E5E5E5;
    
}

.aboutPage h3{
    color: #000F33;
    font-size: 2em;
    font-weight: 500;
    display: inline;
}
.aboutServices,
.aboutFocus,
.aboutInfo,
.aboutSlogan,
.aboutTeam{
    display: none;
}

/** #### SOMOS METRO FUTURO ####*/

#aboutTitle{
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    height: fit-content;
    width: 90vw;
}
#aboutTitle .sectionBackground{
    width: 88vw;
    background-color: #FBFAFF;
    border-radius: 30px;
    height: 100%;
}
#aboutTitle p{
    text-align: center;
}
.aboutMetroLogo{
    width: 95px;
    height: auto;
    z-index: 10;
}
#aboutTitle h1{
    flex-direction: column;
    margin: 0;
    padding: 1% 0;
    font-size: 3em;
    font-weight: 600;
}

/*! #### SOMOS METRO FUTURO ####*/

/** #### ENFOCAMOS NUESTROS ESFUERZOS EN EL MEJOR SERVICIO ####*/
#aboutServices{
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

#aboutServices .sectionInfo{
    padding: 5% 0 0 0;
    width: 90%;
    justify-content: flex-start;
}

#aboutServices .sectionInfo h2{
    color: #000F33;
    font-size: 1.9em;
    font-weight: 600;
    text-align: center
}
#aboutServices .sectionInfo p{
    font-size: 1.5em;
}
#aboutServices .sectionInfo ul {
    width: 100%;
    
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5% 0 0 0;
    margin: 0;
    background-color: transparent;
}
#aboutServices .sectionInfo ul li{
    display: flex;
    width: 100%;
    padding: 1% 0;
    align-items: center;
    color: #000F33;
}
#aboutServices .sectionInfo ul li img {
    width: 24px;
    height: 24px;
    margin-right: 3%;
}
#aboutServices .sectionInfo ul li p{
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
/*! #### ENFOCAMOS NUESTROS ESFUERZOS EN EL MEJOR SERVICIO ####*/


/** #### ¿CUAL ES NUESTRO FOCO? ####*/
#aboutFocus{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 60vh;
}


#aboutFocus h2{
    font-size: 2em;
    margin: 0;
    padding: 5% 0 0 0;
}
#aboutFocus .sectionInfo{
    overflow-x: scroll;
    scrollbar-width: 0;
    
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    padding: 0 0 15% 0;
    height: 100%;
}
#aboutFocus .sectionInfo ul{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    margin: 0;
    z-index: 5;
}
#aboutFocus .sectionInfo ul li{
    width: 70vw;
    min-height: 100%;
    background-color: #FBFAFF;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    
    padding: 2%;
    margin: 0 1%;
    border-radius: 10px;
    
}
#aboutFocus .sectionInfo ul li .cardTitle .cardTitle_Icon{
    width: 40px;
    height: 40px;
}
#aboutFocus .sectionInfo ul li img{
    width: 40px;
    height: auto;
}
#aboutFocus .sectionInfo ul li .cardTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 3% 0;
    height: 60%;
    width: 100%;
    
}
#aboutFocus h3{
    color: #004DFF;
    text-align: start;
    font-size: 1.7em;
    font-weight: 500;
    justify-content: flex-start;
    padding: 0 0;
    margin: 0;
}
#aboutFocus .sectionInfo ul li p{
    /* height: fit-content; */
    margin: 0;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1em;
    padding: 0% 0;
}

/*! #### ¿Cual es nuestro foco? ####*/


/** #### AGREGAMOS VALOR GENERANDO MAYOR ACCESO A LA INDUSTRIA INMOBILIARIA ####*/
#aboutInfo{
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
    padding: 13% 0;
}
#aboutInfo .sectionBackground{
    background: linear-gradient(180deg, #FBFAFF 29.73%, #FFFFFF 100%);
    border-radius: 0px 100px 0px 0px;
}
#aboutInfo .section_subTitle {
    width: 90%;
    font-size: 1.7em;
    padding: 0;
    text-align: center;
}
#aboutInfo .section_paragraph{
    width: 90%;
    font-size: 1.4em;
    text-align: center;
    font-weight: 300;
    padding: 0;
    line-height: 1.2em;
}

/*! #### Agregamos valor generando mayor acceso a la industria inmobiliaria####*/

/** #### SLOGAN ####*/

#aboutSlogan{
    width: 90%;
    flex-direction: column;
    
    min-height: fit-content;
    max-height: 60vh;
    margin: 0% 0;
    overflow: visible;
}
.aboutSlogan h2{
    display: inline;
}

.aboutSloganText {
    width: 100%;
    height: 50vw;
    border-radius: 30px;
    background: linear-gradient(89.88deg, #004DFF -28.16%, rgba(194, 212, 255, 0.49) 100.72%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-size: 200% 150%;
    animation: gradient 5s ease-out infinite;
    box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.aboutSloganText h2 {
    font-size: 2em;
    font-weight: 500;
    color: #F3F2F2;
    text-align: center;
}
@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: -25rem -25rem;
    }

    100% {
        background-position: 0 0;
    }
}

/*! #### Slogan ####*/

/** #### Team ####*/

.aboutTeam{
    min-height: fit-content;
    height: 115vh !important;
    flex-direction: column;
    margin: 2% 0;
}
.aboutTeam h2{
    text-align: center;
}

.aboutTeam ul{
    width: 100%;
    flex-wrap: wrap;
}
.aboutTeam li{
    flex-direction: column;
    width: 30%;
    padding: 2% 0;
}

.aboutTeamImage{
    width: 150px;
    height: 150px;
    background: linear-gradient(113.75deg, rgba(255, 178, 0, 0.6) 12.54%, rgba(117, 251, 90, 0.522) 64.51%, rgba(194, 212, 255, 0.522) 93.52%);
    border-radius: 50rem;
}
.aboutTeamImage div{
    width: 75%;
    height: 75%;
    background-color: #FFEDC2;
    border-radius: 50rem;
}
.aboutTeamImage img{
    position: absolute;
    bottom: 0;
}
#jobCarreraAvatar{
    width: 100%;
}
#marielaScheloneAvatar{
    width: 155%;
}
#pedroSilvestriAvatar{
    width: 200%;
}
#pedroNicholsonAvatar{
    width: 125%;
}
#juanPorrazzoAvatar{
    width: 130%;
}

.aboutTeamInfo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutTeamInfo *{
    text-align: center;
}
.aboutTeamInfo{
    font-size: 1em;
    font-weight: 500;
}

.aboutTeamInfo a{
    margin-top: 3%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 50rem;
    background: linear-gradient(to right, #004DFF, #FF00CC);
    z-index: 0;
}
.aboutTeamlinkedInLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FBFAFF;
    z-index: 5;
    border-radius: 50rem;
}

.aboutTeamlinkedInLogo img{
    width: 20px;
    height: 20px;
    z-index: 5;
 
}

/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {

/** #### SOMOS METRO FUTURO ####*/

    
    #aboutTitle p{
        text-align: center;
        font-size: 2em
    }
    .aboutMetroLogo{
        width: 150px;
        height: auto;
        z-index: 10;
    }
    #aboutTitle h1{
        flex-direction: column;
        margin: 0;
        padding: 1% 0;
        font-size: 5em;
        font-weight: 600;
    }

/*! #### SOMOS METRO FUTURO ####*/


/** #### ¿CUAL ES NUESTRO FOCO? ####*/
#aboutFocus{
    max-height: 55vh;
}

#aboutFocus .sectionInfo{
    overflow-x: visible;
    padding: 0  0  10% 0 ;
}
#aboutFocus .sectionInfo ul{
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}
#aboutFocus .sectionInfo ul li{
    width: 30%;
}
#aboutFocus .sectionInfo ul li .cardTitle{
    padding: 5% 0;
}

#aboutFocus h3{
    padding: 10% 0 0 0 ;
}
#aboutFocus .sectionInfo ul li p{
    font-size: 1.4em;
}

/*! #### ¿Cual es nuestro foco? ####*/

/** #### AGREGAMOS VALOR GENERANDO MAYOR ACCESO A LA INDUSTRIA INMOBILIARIA ####*/
#aboutInfo{
    padding: 10% 0;
}

/*! #### Agregamos valor generando mayor acceso a la industria inmobiliaria####*/


/** #### SLOGAN ####*/

#aboutSlogan{
    max-height: 55vh;
    margin: 5% 0;
}


.aboutSloganText h2 {
    font-size: 2.5em;
}
#aboutSlogan #aboutSloganLink{
    width: 35%;
}

/*! #### Slogan ####*/

}






/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {
    /** ###### GENERAL #####*/
        body{
            background-color: #FBFDFF;
        }
        

    /*! ###### GENERAL #####*/

    /** ##### SOMOS METRO FUTURO ####*/
        #aboutPage{
            background-color: #FBFDFF;
        }
        #aboutTitle .sectionBackground{
            width: 100%;
            background-color: #FBFAFF;
            /* border-radius: 0; */
            height: 100%;
        }
    /*! ##### SOMOS METRO FUTURO ####*/

    /** #### ENFOCAMOS NUESTROS ESFUERZOS EN EL MEJOR SERVICIO ####*/
    #aboutServices{
        width: 90vw;
        flex-direction: row;
        justify-content: space-between;
    }
    #aboutServices .sectionCover{
        border-radius: 50px;
    }
    #aboutServices .sectionInfo{
        padding: 0% 0 0% 3%;
        width: 50%;
        justify-content: center;
    }

    #aboutServices .sectionInfo h2{
        font-size: 2.2em;
        text-align: start
    }
    #aboutServices .sectionInfo p{
        font-size: 1.7em;
    }
    #aboutServices .sectionInfo ul {
        margin: 0;
        padding: 5% 0 0 0;
    }
    #aboutServices .sectionInfo ul li img {
        width: 24px;
        height: 24px;
    }
    #aboutServices .sectionInfo ul li p{
        font-size: 1.7em;
        font-weight: 400;
    }
    /*! #### ENFOCAMOS NUESTROS ESFUERZOS EN EL MEJOR SERVICIO ####*/


/** #### ¿CUAL ES NUESTRO FOCO? ####*/
#aboutFocus{
    max-height: 80vh;
    background: transparent;
}
#aboutFocus .sectionBackground--desktop{
    border-top-left-radius: 150px;
    background: linear-gradient(180deg, #FBFAFF 29.73%, #FFFFFF 100%);
}
#aboutFocus h2{
    font-size: 2.5em;
    font-weight: 600;
}
#aboutFocus .sectionInfo{
    overflow-x: visible;
    background: transparent;
    
    padding: 0  0  10% 0 ;
    justify-content: center;
    align-items: center;
}
#aboutFocus .sectionInfo ul{
    width: 80%;
    padding: 3% 0;
    background: transparent;
}
#aboutFocus .sectionInfo ul li{
    width: 30%;
    
}
#aboutFocus .sectionInfo ul li .cardTitle{
    padding: 5% 0;
}
#aboutFocus .sectionInfo ul li .cardTitle .cardTitle_Icon{
    width: 55px;
    height: 55px;
}
#aboutFocus .sectionInfo ul li .cardTitle .cardTitle_Icon img{
    width: 55px;
}
#aboutFocus h3{
    font-size: 2.5em;
    padding: 10% 0 0 0 ;
}
#aboutFocus .sectionInfo ul li p{
    font-size: 1.7em;
}

/*! #### ¿Cual es nuestro foco? ####*/


/** #### AGREGAMOS VALOR GENERANDO MAYOR ACCESO A LA INDUSTRIA INMOBILIARIA ####*/
#aboutInfo{
    padding: 10% 0;
}
#aboutInfo .sectionBackground{
    border-top-right-radius: 200px;
}
#aboutInfo .section_subTitle {
    font-size: 3em;
    text-align: start;
}
#aboutInfo .section_paragraph{
    font-size: 1.7em;
    text-align: start;
    
}

/*! #### Agregamos valor generando mayor acceso a la industria inmobiliaria####*/


/** #### SLOGAN ####*/

#aboutSlogan{
    margin: 3% 0;
}

#aboutSlogan #aboutSloganLink{
    width: 30%;
}
#aboutSloganLink .degradedLink_TextContainer{
    background-color: #FBFDFF;
}
/*! #### Slogan ####*/

}




/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {

/** ##### SOMOS METRO FUTURO ####*/
    #aboutTitle .sectionBackground{
        width: 100%;
        background-color: #FBFAFF;
    }
    #aboutTitle p{
        font-size: 3em;
    }
/*! ##### SOMOS METRO FUTURO ####*/

/** #### ENFOCAMOS NUESTROS ESFUERZOS EN EL MEJOR SERVICIO ####*/
#aboutServices{
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
}
#aboutServices .sectionCover{
    border-radius: 50px;
    width: 45%;
}
#aboutServices .sectionInfo{
    padding: 0% 0 0% 3%;
    width: 50%;
    justify-content: center;
}

#aboutServices .sectionInfo h2{
    font-size: 3em;
    text-align: start
}
#aboutServices .sectionInfo p{
    font-size: 2em;
}
#aboutServices .sectionInfo ul {
    margin: 0;
    padding: 5% 0 0 0;
}
#aboutServices .sectionInfo ul li{
    padding: 2% 0;
}
#aboutServices .sectionInfo ul li img {
    width: 35px;
    height: 35px;
}
#aboutServices .sectionInfo ul li p{
    font-size: 2em;
    font-weight: 400;
}
/*! #### ENFOCAMOS NUESTROS ESFUERZOS EN EL MEJOR SERVICIO ####*/

/** #### ¿CUAL ES NUESTRO FOCO? ####*/
#aboutFocus{
    max-height: 65vh;
    min-height: fit-content;
    background: transparent;
}
#aboutFocus .sectionBackground--desktop{
    border-top-left-radius: 300px;
    
}
#aboutFocus h2{
    font-size: 3em;
}
#aboutFocus .sectionInfo{
    padding: 0 0 5% 0;
}
#aboutFocus .sectionInfo ul{
    width: 70%;
    
}

#aboutFocus .sectionInfo ul li .cardTitle .cardTitle_Icon{
    width: 65px;
    height: 65px;
}
#aboutFocus .sectionInfo ul li .cardTitle .cardTitle_Icon img{
    width: 65px;
}
#aboutFocus h3{
    font-size: 2.8em;

}
#aboutFocus .sectionInfo ul li p{
    font-size: 1.9em;
}

/*! #### ¿Cual es nuestro foco? ####*/

/** #### AGREGAMOS VALOR GENERANDO MAYOR ACCESO A LA INDUSTRIA INMOBILIARIA ####*/
#aboutInfo{
    padding: 7% 0;
    width: 100%;
    overflow: visible;
}
#aboutInfo .sectionBackground{
    border-radius: 0px 300px 0px 0px;
}
#aboutInfo .section_subTitle {
    font-size: 4em;
    
    text-align: start;
}
#aboutInfo .section_paragraph{
    font-size: 2.5em;
    text-align: start;
    
}

/*! #### Agregamos valor generando mayor acceso a la industria inmobiliaria####*/

/** #### SLOGAN ####*/

#aboutSlogan{
    max-height: 40vh;
    margin: 3% 0;
}
.aboutSloganText{
    margin: 3% 0;
}
.aboutSloganText h2{
    font-size: 3em;
}
#aboutSlogan #aboutSloganLink{
    width: 15%;
}

/*! #### Slogan ####*/

}