/*! #######################################*/
/*! ############### MOBILE ###############*/
/*! #######################################*/

#adminPage h1{
    font-size: 2.5em;
    width: 100%;
    margin: 0;
}
.admin_nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 2% 0;
}
.admin_nav li{
    font-size: 2em;
}
.adminEdition{
    flex-wrap: wrap;
}
.adminEdition h2{
    width: 100%;
    text-align: center;
}
.activeNav{
    font-weight: 600;
}

.adminEdition{
    flex-wrap: wrap;
}
.adminEdition_Form{
    width: 100%;
    border: 1px solid black ;
}
.adminEdition_Info{
    width: 100%;
    border: 1px solid black ;
}

/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {

    
    
}
    
/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {
    .adminEdition_Form{
        width: 40%;
        
    }
    .adminEdition_Info{
        width: 60%;
    }
}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {

}