/*! #######################################*/
/*! ############### MOBILE ###############*/
/*! #######################################*/
body {
    background-color: #FBFAFF;
}
#contactPage{
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #FBFDFF;
    min-height: fit-content;
    flex-wrap: wrap;
    /* padding: 0 0 5% 0; */
}

#contactPage section{
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 0 5%;
}

#contactPageSlogan h1{
    width: 100%;
    font-size: 2em;
    text-align: center;
}
#contactPageSlogan h1 br{
    display: none;
}
#contactPageSlogan p{
    font-size: 1.2em;
    text-align: center;
}
#formContainer{
    width: 40%;
    flex-direction: column;
    justify-content: flex-start;
}

#formContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.inputContainer{
    width: 100%;
    background: #004cff89;
    padding: 0;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 1% 0;
    outline: none;
}
.inputLargeContainer textarea:focus,
.inputContainer input:focus{
    border: none;
    outline: none;
}

.inputContainer input{
    width: 100%;
    border-radius: 50rem;
    /* margin: 3px 2.5px; */
    padding: 3% 3% 3% 5%;
    color: #000F33;
    opacity: 100%;
    border: none;
    font-size: 16px;
    color: #000F33;
}

.largeInput{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    background: #004cff89;
    padding: 5px;
    border: none;
    height: 130px;
    margin: 1% 0;
}
.largeInput textarea{
    min-height: fit-content;
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 100%;
    padding: 2% 2% 2% 5%;
    resize: none;
    font-size: 16px;
    color: #000F33;
    opacity: 100%;
    background-color: white;
    outline: none;
}

.input--focus {
    background: linear-gradient(to left, #FF00CC 0%, #004DFF 100%);
}
.input--valid{
    background: #76e18f;
}
.input--invalid{
    background: #ea7070;
}


::placeholder { color: #000f3377; }
.contactAttachment{
    width: 100%;
    background-color: #004cff89;
    border-radius: 50rem;
    margin: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactAttachmentInput{
    display: none;
}

.contactLabelAttachment{
    width: 100% ;
    height: 100%;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactLabelAttachment span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FBFAFF;
    margin: 2.5px 2.5px;
    padding: 1%;
    border-radius: 50rem;
}

.contactLabelAttachment span p{
    font-weight: 400;
    font-size: 16px;
    color: #000F33;
    opacity: 50%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactLabelAttachment span div{
    font-weight: 500;
    font-size: 16px;
    background-color: #004cff;
    border-radius: 50rem;

    padding: 2% 5%;

    color: #F3F2F2;
}

/***** Errores de contacto *****/
.contactErrors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.errorHidden{
    display: none;
}
.errorShown{
    color: red;
    display: block;
}

/** ### RECAPTCHA ### */
.recaptcha{
    width: 100%;
    height: fit-content;
    margin: 5% 0;
}
.recaptcha >div>div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.recaptcha > div > div > div{
    margin: 0 !important;

}
/*! ### RECAPTCHA ### */

/** Link degradado */
/* .contactSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: linear-gradient(to right, #004DFF, #FF00CC);
    z-index: 1;
    white-space: nowrap;
    margin: 2% 0;
    padding: 3px 3px;
    border-radius: 50rem;
    border: none;
    position: relative;
} */
.contactSubmit{
    border: none;
}
.contactSubmit--success{
    width: 30% !important;
}
.contactSubmit--success img{
    background: transparent !important;
}
.contactSubmit--success p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white !important;
    margin:0;
}
.contactSubmit--error{
    background: #FF0000;
    border-radius: 50rem !important;
    width: 50% !important;
}
.contactSubmit--error p{
    padding: 3% 5%;
    color: white !important;
    font-size: 1.3em !important;
    margin: 0;
    font-weight: 500 !important;
}
.contactSubmit--loading{
/*     width: 70px !important;
    height: 70px !important; */
    background-color: #004DFF;
    /* background-color: transparent; */
    display: flex !important;
    justify-content: center;
    align-items: center !important;;
    width: 45px !important;
    height: 45px;
    border: 5px solid white;
    border-bottom-color: transparent !important;
    border-left-color: transparent ;
    border-right-color: transparent !important;;
    border-radius: 50%;
    /* display: inline-block; */
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    animation: loader 1s linear infinite;
}
.contactSubmit--loading__rotation{
    /* background: linear-gradient(to right, #ffffff, #FF00CC); */
    /* border: 5px lightgray solid; */
    /* border-right: solid gray 5px; */
    /* border-left: solid gray 5px; */

    /* border-top: solid black 5px; */
    /* border-radius: none;
    border-radius: 50%;
    height: 50px !important;
    width: 50px !important;
    z-index: 1 !important;
    position: absolute;
    top: 25px;
    left: 25px;

    animation: loader 2s linear infinite; */
    background: white !important;
    /* margin: 5px !important; */
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    /* border: 5px solid transparent !important; */
    /* border-bottom:5px solid white !important; */
    border-radius: 50% !important;
    /* display: inline-block; */
    /* box-sizing: border-box; */
    /* animation: loader 1.5s linear infinite; */
}
.contactSubmit--loading__center {
    /* position: absolute;
    top: 30%;
    left: 30%; */
/*     width: 30px !important;
    height: 30px !important;
    background: linear-gradient(to right, #004DFF, #FF00CC) !important;
    z-index: 5 !important; */
}
@keyframes loader {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}


.contactSubmit div {
/*     display: flex;
    justify-content: center;
    align-items: center;
    background: #FBFDFF;
    width: 100%;
    height: auto; */
    /* margin: 2.5px 2.5px 2.5px 2.5px; */
  /*   z-index: 2;
    border-radius: 50rem; */
    /* transition: background-color 0.5s ease-in-out; */
}

/* .contactSubmit p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-size: 2.3em;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 !important;
    padding: 6%;
    font-weight: 500;
    -webkit-text-fill-color: linear-gradient(to right, #004DFF 0%, #FF00CC 100%) !important;
    background: white;
    -webkit-background-clip: text;
    -webkit-border-image: fill;
    z-index: 5;
} */

.contactSubmit:hover div{
    background: transparent;
}
.contactSubmit div:active{
    background: linear-gradient(to right, #004DFF 0%, #FF00CC 100%);
}
.contactSubmit:hover p{
    -webkit-text-fill-color: #FBFDFF;
}


/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {

    #contactPage section{
        margin: 0;
        padding: 0% 10%;
    }

    #contactPageSlogan h1{
        width: 100%;
        font-size: 2.5em;
        text-align: center;
        margin: 3% 0 0 0;
    }

    #contactPageSlogan p{
        font-size: 1.5em;
        text-align: center;
    }

    /** ### RECAPTCHA ### */
    .recaptcha{
        margin: 3% 0;
    }

    /*! ### RECAPTCHA ### */

    /** Link degradado */
    .contactSubmit {
        width: 20%;
        margin: 0% 0;
        padding: 3px 3px;
    }

}

/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {

    #contactPage{
        padding: 5% 3%;
    }

    #contactPage .sectionBackground--desktop{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        padding: 1vh 6vw 5vh 6vw;
    }


    #contactPage section{
        margin: 0;
        width: 50%;
        padding: 0% 10%;
    }

    #contactPageSlogan{
        padding: 0 0 0 5% !important;
    }

    #contactPageSlogan h1{
        width: 100%;
        font-size: 3em;
        text-align: start;
        margin: 3% 0 0 0;
    }
    #contactPageSlogan h1 br{
        display: block;
    }

    #contactPageSlogan p{
        width: 100%;
        font-size: 1.5em;
        text-align: start;
    }
    #formContainer{
        padding: 0 5% !important;
    }
    /** ### RECAPTCHA ### */
    .recaptcha{
        margin: 3% 0;
    }

    /*! ### RECAPTCHA ### */

    /** Link degradado */
    .contactSubmit {

        width: 30%;
        margin: 0% 0;
        padding: 3px 3px;
    }
    .contactSubmit p{
        font-size: 1.8em;
    }
}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {

    #contactPageSlogan{
        padding: 0 0 0 7% !important;
    }
    #contactPageSlogan h1{
        font-size: 3.8em;
    }
    #contactPageSlogan p{
        width: 100%;
        font-size: 2em;
    }

    .inputContainer{
        padding: 5px;
    }

    .inputLargeContainer{
        padding: 5px;
        border-radius: 30px;
    }
    .inputLargeContainer textarea{
        border-radius: 25px;
    }

    /** Link degradado */
    .contactSubmit {
        width: 17%;
        margin: 0% 0;
        padding: 4px 4px;
    }
}