.contactPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 6vw 10vh 6vw;
    background-color: #FBFDFF;
    width: 100vw;
    position: relative;
    height: 90vh;
}
.contactPageBg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 1vh 6vw 10vh 6vw;
}
.contactPage section{
    display: flex;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 5%;
}
.formContainer,
.contactPageSlogan{
    display: flex;
    z-index: 5;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 5%;
}
.contactPage font {
    font-size: inherit;
    display: inline;
}

.contactPageSlogan{
    padding: 0 0 0 5%;
}
.contactPageSlogan *{
    text-align: start;
}
.contactPageSlogan h1{
    font-size: 4em;
}
.contactPageSlogan p{
    font-size: 1.5em;
}
.formContainer{
    width: 40%;
    flex-direction: column;
}

.formContainer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.inputContainer{
    width: 100%;
    background: #004cff89;
    padding: 0;
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    outline: none;
}
.inputLargeContainer textarea:focus,
.inputContainer input:focus{
    border: none;
    outline: none;
}

.inputContainer input{
    width: 100%;
    border-radius: 50rem;
    margin: 3px 2.5px;
    padding: 3% 3% 3% 5%;
    color: #000F33;
    opacity: 100%;
    border: none;
    font-size: 16px;
    color: #000F33;
}

.inputLargeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    background: #004cff89;
    padding: 2px 2px;
    
    height: 130px;
    margin: 1% 0;
}
.inputLargeContainer textarea{
    min-height: fit-content;
    border-radius: 18px;
    border: none;
    width: 100%;
    height: 100%;
    padding: 2% 2% 2% 5%;
    margin: 3px 1px;
    resize: none;
    font-size: 16px;
    color: #000F33;
    opacity: 100%;
}

.inputContainerFocus {
    background: linear-gradient(to left, #FF00CC 0%, #004DFF 100%);
}


::placeholder { color: #000f3377; }
.contactAttachment{
    width: 100%;
    background-color: #004cff89;
    border-radius: 50rem;
    margin: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactAttachmentInput{
    display: none;
}

.contactLabelAttachment{
    width: 100% ;
    height: 100%;
    /* background-color: #004DFF; */
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactLabelAttachment span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FBFAFF;
    margin: 2.5px 2.5px;
    padding: 1%;
    border-radius: 50rem;
}

.contactLabelAttachment span p{
    font-weight: 400;
    font-size: 16px;
    color: #000F33;
    opacity: 50%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactLabelAttachment span div{
    font-weight: 500;
    font-size: 16px;
    background-color: #004cff;
    border-radius: 50rem;
    
    padding: 2% 5%;
    
    color: #F3F2F2;
}
/* .contactSubmit{
    font-weight: 500;
    font-size: 16px;
    background-color: #004cff;
    border-radius: 50rem;
    
    padding: 2% 5%;
    
    color: #F3F2F2;
    border: none;
}*/


/* Link degradado */
.contactSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    background: linear-gradient(to right, #004DFF, #FF00CC);
    z-index: 1;
    white-space: nowrap;
    margin: 2% 0;
    /* width: fit-content; */
    border-radius: 50rem;
    border: none;
}
.contactSubmit div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FBFDFF;
    width: 100%;
    height: auto;
    margin: 2.5px 2.5px 2.5px 2.5px;
    z-index: 2;
    border-radius: 50rem;
    transition: background-color 0.5s ease-in-out;
}

.contactSubmit p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-size: 1.2em;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 !important;
    padding: 6%;
    font-weight: 500;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #004DFF 0%, #FF00CC 100%);
    -webkit-background-clip: text;
    -webkit-border-image: fill;
    z-index: 5;
}

.contactSubmit:hover div{
    background: transparent;
}
.contactSubmit div:active{
    background: linear-gradient(to right, #004DFF 0%, #FF00CC 100%);
}
.contactSubmit:hover p{
    -webkit-text-fill-color: #FBFDFF;
}
