/*! #######################################*/
/*! ################ MOBILE ###############*/
/*! #######################################*/

.mainFooter *{
    color: #F3F2F2;
}
.mainFooter{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,#C2D4FF,#004DFF);
    padding: 15vh 10vw 10vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height:fit-content;
    border-top-left-radius: 100px;
    position: relative;
}

/** ### BACKGROUNDS ### */
.mainFooterBackgroundLeft{
    position: absolute;
    border-top-left-radius: 150px;
    top: 0;
    left: 0;
    width: 250vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    opacity: 50%;
    background-color: transparent;
}
.mainFooterBackgroundRight {
    position: absolute;
    border-top-left-radius: 150px;
    bottom: 0;
    right:  -100%;
    width: 300vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    opacity: 50%;
}
/*! ### Backgrounds ### */


.topFooter{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    z-index: 5;
}
.footerMetroLogo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footerMetroLogo h3{
    font-size: 2.5em;
}
.footerMetroLogo img{
    width: 80%;
    height: auto;
}
.footerLinks{
    width: 100%;
    height: 100% !important; 
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}
.footerLinks ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.footerLinks li{
    list-style: none;
    width: auto;
    height: auto;
    padding: 5% 0 5% 0;
}

.footerLinks a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 200;    
}
.footerLinks h4{
    font-size: 1.5em;
}

.bottomFooter{
    border-top: 1px white solid;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainFooter .briken{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}
.mainFooter .briken *{
    padding: 1%;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
}
.mainFooter .briken img{
    max-height: 40px;
}

.footerSocials{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

.footerSocials a {
    padding: 2.5%;
    height: 35px;
    width: 35px;
    border: 2px white solid;
    border-radius: 50rem;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerSocials a *{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
}
.footerSocials img{
    height: 17px;
    width: 17px;
}

/*! #######################################*/
/*! ################ DESKTOP ##############*/
/*! #######################################*/
@media (min-width: 1024px) {

    .mainFooter{
        padding: 15vh 10vw 10vh 10vw;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        height:fit-content;
        border-top-left-radius: 150px;
    }
    /** ### BACKGROUNDS ### */
    .mainFooterBackgroundLeft{
        position: absolute;
        border-top-left-radius: 150px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 0;
        opacity: 50%;
    }
    .mainFooterBackgroundRight {
        position: absolute;
        border-top-left-radius: 150px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 0;
        opacity: 50%;
    }
    /*! ### Backgrounds ### */


    .topFooter{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 65px;
        z-index: 5;
    }
    .footerMetroLogo{
        width: 30%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .footerMetroLogo h3{
        font-size: 2.5em;
    }
    .footerMetroLogo img{
        width: 100%;
        height: auto;
    }
    .footerLinks{
        width: 45%;
        height: 100% !important; 
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .footerLinks ul{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .footerLinks li{
        list-style: none;
        width: auto;
        height: auto;
        padding: 5% 0 5% 0;
    }
    
    .footerLinks a {
        text-decoration: none;
        font-size: 1.5em;
        font-weight: 300;    
    }
    .footerLinks h4{
        font-size: 2em;
    }
    
    .bottomFooter{
        border-top: 1px white solid;
        width: 100%;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .mainFooter .briken{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .mainFooter .briken *{
        padding: 1%;
        letter-spacing: 1px;
    }
    .mainFooter .briken img{
        max-height: 50px;
    }
    
    .footerSocials{
        width: 45%;
            height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
    }
    
    .footerSocials a {
        padding: 2.5%;
        height: 40px;
        width: 40px;
        border: 1.7px white solid;
        border-radius: 50rem;
        margin-left: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .footerSocials a *{
        height: auto;
        width: 100%;
        display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
    }

}