/*! #######################################*/
/*! ################ MOBILE ###############*/
/*! #######################################*/

.mainFooter *{
    color: #F3F2F2;
}
.mainFooter{
    width: 100%;
    height: 100vh;
    background: var(--blue-mf);
    padding: 0vh 10vw 10vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height:fit-content;
    position: relative;
    overflow: hidden;
    margin-top: -5px;
}
.footerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
    position: relative;
}
.footerContainer > .svgContainer{
    position: relative;
    z-index: 10;
    width: 100%;
}
.bgFooterContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 20;
    inset: 0;
}

/** ### BACKGROUNDS ### */
.mainFooterBackground{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}
/*! ### Backgrounds ### */


.topFooter{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    z-index: 5;
    gap: 40px;
    font-size: 14px;
    text-decoration: none;
}
.topFooter section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    margin: 0;
    gap: 15px;
}
.topFooter section > *{
    width: 100%;
    height: auto;
    font-size: 14px;
}
.topFooter section h2{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.topFooter section h3{
    font-size: 20px;
}
.topFooter section p{
    font-size: 14px;
}
.topFooter .footerLocation{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.topFooter ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.topFooter ul li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}
.footerMetroLogo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footerMetroLogo h2{
    font-size: 2.5em;
}
.footerMetroLogo img{
    width: 80%;
    height: auto;
}
.topFooter .footerContact,
.footerContact ul{
    gap: 20px;

}
.footerLinks{
    width: 100%;
    height: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}
.footerLinks ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.footerLinks li{
    list-style: none;
    width: auto;
    height: auto;
    padding: 5% 0 5% 0;
}
.footerLink{
    font-size: 14px;
    text-decoration: none;
}
.footerLinks a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 200;
}
.footerLinks h3{
    font-size: 1.5em;
}

.bottomFooter{
    border-top: 0.5px white solid;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.bottomFooter ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.bottomFooter ul li a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainFooter .bapps{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
}
.mainFooter .bapps *{
    padding: 1%;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
}
.mainFooter .bapps img{
    max-height: 40px;
}

.topFooter .footerSocials{
    width: fit-content;
    height: 100%;
    gap: 10px;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    /* 3 columnas y dos filas */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    z-index: 5;
}

.footerSocials a {
    padding: 2.5%;
    height: 30px;
    width: 30px;
    border: 2px white solid;
    border-radius: 50rem;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.footerSocials a *{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    color: rgb(30 136 229);
}
.footerSocials a > *{
    font-size: 20px;
}

.footerSocials i{
    height: 25px;
    width: 25px;
    /* color: rgb(30 136 229);
    fill: rgb(30 136 229); */
}
.footerSocials svg{
    /* color: rgb(30 136 229);
    fill: rgb(30 136 229); */
}

@media (min-width: 768px){
    .topFooter{
        padding-bottom: 20px;
        flex-direction: row;
    }
    .bottomFooter{
        padding-top: 50px;
        flex-direction: row;
        justify-content: space-between;
    }
    .bottomFooter .bapps,
    .bottomFooter ul{
        justify-content: flex-start;
        flex-direction: row;
    }
    .botomFooter ul{
        justify-content: flex-end;
    }
    .bottomFooter ul li{
        width: fit-content;
    }
}

/*! #######################################*/
/*! ################ DESKTOP ##############*/
/*! #######################################*/
@media (min-width: 1024px) {

    .mainFooter{
        padding: 10vh 10vw 10vh 10vw;
        flex-direction: row;
        align-items: center;
    }
    /** ### BACKGROUNDS ### */
    .mainFooterBackgroundLeft{
        width: 100%;
        height: 100%;
    }
    .mainFooterBackgroundRight {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /*! ### Backgrounds ### */


    .topFooter{
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 65px;
    }
    .footerMetroLogo{
        width: 30%;
        justify-content: center;
    }
    .footerMetroLogo img{
        width: 100%;
    }
    .footerLinks{
        width: 45%;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .footerLinks ul{
        justify-content: flex-start;
        width: 50%;
    }

    .footerLinks a {
        font-size: 1.5em;
        font-weight: 300;
    }
    .footerLinks h3{
        font-size: 2em;
    }

    .bottomFooter{
        padding-top: 50px;
        flex-direction: row;
    }

    .mainFooter .bapps{
        width: 100%;
        flex-direction: row;
    }
    .mainFooter .bapps img{
        max-height: 70px;
    }

    .footerSocials{
        width: 90%;
        justify-content: space-between;
        align-items: flex-end;
    }

    .footerSocials a {
        height: 36px;
        width: 36px;
        border: 1.7px white solid;
        cursor: pointer;
        margin:0;
    }
    .footerSocials a i{
        font-size: 20px;
    }

    .footerSocials a *{
        cursor: pointer;
    }

}