@font-face {
    font-family: "Lexend";
    src: url("./fonts/Lexend-VariableFont_wght.ttf");
}

.header{
    width: 100%;
    height: 15vh;
    padding: 1vh 6vw 1vh 6vw;
    background-color: #FBFDFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header img{
    width: 19vw;
    height: auto;
    
    align-items: center;
}

.header .navigation{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .navigation li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .navigation a{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}


