/*! #########################################*/
/*! ############ MOBILE & TABLETS ###########*/
/*! #########################################*/

@font-face {
    font-family: "Lexend";
    src: url("./fonts/Lexend-VariableFont_wght.ttf");
}

.header{
    width: 100%;
    height: 10vh;
    background-color: #FBFDFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}
.headerShadow{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    z-index: 0;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}
.headerIcons{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFDFF;
    z-index: 20;
    padding: 1vh 6vw 1vh 3vw;
}
.burgerMenuIcon{
    width: auto;
    display: block;
    transition: display 1s ease;
}
.burgerMenuIconHidden{
    display: none;
    transition: display 1s ease;
}
.metroFuturoLogo{
    width: auto;
    height: 90%;
    align-items: center;
    z-index: 20;
}

.header .navigation{
    width: 100%;
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 10;
    background-color: #FBFDFF;
    transition: top 0.5s ease-in-out;
}
.degradedSeparator--header{
    width: 75% !important;
    height: 2px !important;
    opacity: 40%;
}
.header .hiddenMenu{
    width: 100%;
    position: absolute;
    top: -300%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: #FBFDFF;
}
.header .hiddenMenu li,
.header .navigation li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    z-index: 5;
}

.navLink{
    text-decoration: none;
    font-size: 2em;
    color: black;
    z-index: 5;
}
.active{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #004DFF 0%, #FF00CC 100%);
    -webkit-background-clip: text;
    -webkit-border-image: fill;
}


/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {
    .navLink{
        font-size: 2em;
    }

    .header .hiddenMenu{
        top: -400%;
    }
}

/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {

    .header{
        height: 10vh;
        padding: 1vh 3vw 1vh 3vw;
    }
    .degradedSeparator--header{
        display: none;
    }
    .headerShadow{
        display: none;
    }
    .metroFuturoLogo{
        width: 19vw;
        height: auto;
        align-items: center;
    }

    .burgerMenuIcon{
        display: none;
    }
    .header .hiddenMenu,
    .header .navigation{
        width: 70%;
        flex-direction: row;
        position: relative;
        top: 0;
        padding: 0;
        margin: 0;
        transition: none;
        height: 100%;
    }
    .headerIcons{
        width: fit-content;
        justify-content: flex-start;
        padding: 0;
    }
}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {
    .header{
        height: 15vh;
    }
    .headerShadow{
        display: none;
    }
    .metroFuturoLogo{
        width: 20vw;
    }

    .header .navigation{
        width: 50%;
    }
}