/*! #######################################*/
/*! ################ MOBILE ###############*/
/*! #######################################*/


/** ### SOBRE NOSOTROS ### */
#homeAbout{
    overflow: hidden;
}
#homeAboutLink div{
    background-color: #FBFAFF;
}

#homeAboutSubtitle,
#homeAboutSubtitle sup{
    /* Efecto degradado texto */
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #004DFF 0%, #FF00CC 100%);
    -webkit-background-clip: text;
    -webkit-border-image: fill; 
}

#homeAboutParagraph{
    text-align: center;
}
/*! ### Sobre nosotros ### */


/** ### SLOGAN ###*/
#homeSlogan {
    width: 90%;
    border-radius: 15px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    background-image: linear-gradient(145deg,
    hsl(222deg 100% 50%) 0%,
    hsl(235deg 100% 81%) 39%,
    hsl(288deg 67% 79%) 61%,
    hsl(312deg 100% 50%) 100%);
    
    font-size: 1.9em;
    color: #F3F2F2;
    background-size: 200% 300%;
    animation: gradient 10s ease-out infinite;
}
@keyframes gradient {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: -25rem -25rem;
    }
    100%{
        background-position: 0 0;
    }
}
#homeSlogan h2{
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.5px;
}


/*! ### Slogan ###*/

/** ### ¿COMO INVERTIR EN SIMPLES PASOS? ###*/

#homeInvestmentSteps{
    flex-direction: column;
    padding: 2%;
    align-items: center;
    height: auto;
    position: relative;
}
#homeInvestmentSteps_subTitle{
    text-align: center;
    font-size: 2.5em;
    letter-spacing: -2.5px;
    font-weight: 500;
    padding: 0;
    margin: 2% 0;
}
#homeCarrousel{
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 0 0 5% 0;
}
#homeCarrouselNav{
    justify-content: space-evenly;
    align-items: center;
}
#homeInvestmentSteps_desktopLink{
    display: none;
}
#homeInvestmentSteps_mobileLink{
    display: block;
    width: 40%;
    position: relative;
    bottom: 0
}
/*! ### ¿Como invertir en simples pasos? ###*/

/** ### OPORTUNIDAD DE INVERSIÓN ###*/
    #homeOportunity{
        margin: 5% 0;
    }
    #homeOportunity .sectionInfo{
        padding: 5% 0 0 0;
    }
    #homeOportunity .section_subTitle{ 
        font-size: 1.7em;
        line-height: 1.3em;
        width: 80%;
        text-align: center;
    }
    #homeOportunity .section_paragraph{ 
        font-size: 1.3em;
        width: 70%;
        text-align: center;
    }
    #homeOportunityLink{
        width: 45%;
    }
/*! ### Oportunidad de inversión ###*/

/** ### BENEFICIOS DE INVERTIR EN METRO FUTURO ### **/
#homeBenefits{
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
}
#homeBenefits h3{
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    height: 10%;
    color: #000F33;
    z-index: 5;
}
#homeBenefitsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    z-index: 5;
}
#homeBenefitsImg{
    display: none;
}
#homeBenefitsContainer ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 0;
    margin: 0 3%;
}
#homeBenefitsContainer ul li{
    display: flex;
    height: 20%;
    width: 100%;
    list-style: none;
    align-items: center;
    padding: 1% 2%;
    margin: 3% 0;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.062), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    border-radius: 10px;
    border: 1px solid #F3F2F2;
}

#homeBenefitsContainer ul li div{
    padding-left: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#homeBenefitsContainer ul li img{
    width: 40px;
    height: 40px;
    margin: 0 3%;
}
#homeBenefitsContainer ul li div h5{
    font-size: 1.5em;
    color: #004DFF;
    font-weight: 600;
}
#homeBenefitsContainer ul li div p{
    color: #000F33;
    font-size: 1.3em;
    font-weight: 300;
}
/*! ### BENEFICIOS DE INVERTIR EN METRO FUTURO ### **/
/** ### APRENDE CON METRO FUTURO ### */
#homeLearnWithUs{
    
    height: auto;
    flex-direction: column;
}

#homeLearnWithUs_Info{
    justify-content: center;
    padding: 0 5%;
    margin: 0;
}
#homeLearnWithUs_Info h4{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}
#homeLearnWithUs_Info p {
    color: #000000;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    line-height: 18px;
    padding: 2% 0;
}
/* Link degradado */
#homeLearnWithUs_Link {
    width: 30%;
}
/*! ### Aprende con Metro Futuro ### */

/** ### NUESTROS PARTNERS ### **/
    
#homePartners{
    height: 65vh;
    flex-direction: column;
    margin: 5% 0;
}

#homePartners h3{
    font-size: 3em;
    font-weight: 500;
}
#homePartnersContainer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0% 3%;
}
#homePartnersContainer ul{
    position: absolute;
    left: 0;
    display: flex;
    width: 200%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    margin: 0;
}
#homePartnersContainer li{
    list-style: none;
    width: 30%;
    height: 100%;
    max-height: 150px;
    background: #FFFFFF;
    border: 1px solid #F3F2F2;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    padding: 1%;
    -webkit-transition: height 0.2s ease-in-out,width 0.2s ease-in-out,color 1s ease-in-out;
}

#homePartners a{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    padding: 0%;
}
#homePartners img{
    width: 100%;
}
/*! ### Nuestros partners ### **/

/** #### PREGUNTAS FRECUENTES ####*/
    
    #homeFaq{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }
    #homeFaq h3{
        color: #000F33;
        font-size: 2.5em;
        font-weight: 600;
        padding: 3% 0;
    }
    .faqList{
        width: 95%;
        max-height: 4000px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        padding: 0;
        transition: max-height 2s ease-in-out;
    }

    #principalFaqs{
        height: fit-content;
    }

    .faqItem,
    .faqItem--collapsed{
        height: fit-content;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background: linear-gradient(to right, #004DFF, #FF00CC);
        padding: 3px;
        white-space: nowrap;
        margin: 1% 0;
        border-radius: 13px;
        z-index: 5;
    }

    .faqContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background: #FBFDFF;
        width: 100%;
        height: fit-content;
        z-index: 5;
        border-radius: 10px;
        padding: 2% 3%;
        position: relative;
        overflow: hidden;
    }

    .faqQuestion{
        position: relative;
        width: 100%;
        height: fit-content;
        padding: 0% 0%;
        display: flex;
        justify-content: space-between  ;
        align-items: center;
        flex-wrap: wrap;
        
        background: #FBFDFF;
        border-radius: 20px;
        z-index: 5;
    }

    .faqItem h4 {
        text-decoration: none;
        font-style: normal;
        font-size: 1.5em;
        text-align: start;
        width: 80%;
        height: auto;
        padding: 5% 0;
        margin: 0;
        font-weight: 500;
        color:#000F33;
        white-space: pre-wrap;
        z-index: 5;
    }

    .faqCross{
        width: 35px;
        height: 35px;
        transition: transform 0.5s ease;
        z-index: 5;
        cursor: pointer;
    }
    .faqCross--rotated45{
        transform: rotate(135deg);
    }

    .faqResponse{
        max-height: 0px;
        width: 100%;
        position: relative;
        overflow: hidden;
        font-size: 1.2em;
        font-weight: 300;
        padding: 0% 3%;
        margin: 0;
        white-space: pre-wrap;
        transition: max-height 0.7s ease-in-out;
    }
    .faqResponse--Expanded{
        /* min-height: fit-content; */
        max-height: 300px;
        transition: max-height 1s ease-in-out;
        /* min-height: fit-content !important; */
    }


    /***** Preguntas extra *****/

    .hiddenFaqs{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    .faqList--collapsed{
        max-height: 0px;
        width: 95%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: max-height 2s ease-in;
    }
    #faqLink{
        width: 30%;
    }

/*! #### Preguntas frecuentes ####*/


#homeNews{
    display: none;
}


/* ! ####################################### **/
/* ! ############### DESKTOP ############### **/
/* ! ####################################### **/

@media (min-width: 1024px) {
/**### Important
* ! sdada
* TODO: 
*/
/** ### SOBRE NOSOTROS ### */
    #homeAbout{
        overflow: hidden;
    }
    #homeAboutLink div{
        background-color: #dcdcdc;
    }
    #homeAboutSubtitle sup,
    #homeAboutSubtitle{
        -webkit-text-fill-color: transparent;
        background: #000F33;
        -webkit-background-clip: text;
        -webkit-border-image: fill;
    }
    #homeAboutParagraph{
        text-align: start;
    }
/*! ### Sobre nosotros ### */


/** ### SLOGAN ###*/
    #homeSlogan {
        width: 100%;
        padding: 0;
        border-radius: 30px;
        height: 45vh;
    }
    @keyframes gradient {
        0%{
            background-position: 0 0;
        }
        50%{
            background-position: -25rem -25rem;
        }
        100%{
            background-position: 0 0;
        }
    }
    #homeSlogan h2{
        text-align: center;
        font-size: 2em;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

/*! ### Slogan ###*/
    
    
/** #### ¿COMO INVERTIR EN SIMPLES PASOS? ####*/
    #homeInvestmentSteps{
        background: linear-gradient(180deg, #FBFAFF 29.73%, #FFFFFF 100%);
        border-radius: 150px 0px 0px 0px;
        flex-direction: row;
        justify-content: space-between;
    }
    #homeCarrousel{
        width: 50%;
    }
    #homeInvestmentSteps_subTitle{
        text-align: start;
        font-size: 3.5em;
        padding: 0 10% 3% 0;
    }
    #homeInvestmentSteps_desktopLink{
        display: block;
    }
    #homeCarrouselNav{
        justify-content: flex-end;
        align-items: center;
    }
        
    #homeInvestmentSteps_mobileLink{
        display: none;
    }
/*! #### ¿Como invertir en simples pasos? ####*/
    
/** ### OPORTUNIDAD DE INVERSIÓN ###*/

#homeOportunity { 
    flex-direction: row;
    align-items: center;
    padding: 0;
}
#homeOportunity .sectionCover{
    order: 4;
}
#homeOportunity .sectionInfo{
    padding: 0;
    justify-content: center;
}
#homeOportunity .section_subTitle{ 
    font-size: 3em;
    line-height: 1.3em;
    font-weight: 600;
    width: 95%;
    text-align: start;
    padding: 0;
}
#homeOportunity .section_paragraph{ 
    font-size: 2em;
    width: 95%;
    text-align: start;
    padding: 0 0 5% 0;
    font-weight: 600;
    color: #004DFF;
}
#homeOportunityLink{
    width: 30%;
}
/*! ### Oportunidad de inversión ###*/

/** ### BENEFICIOS DE INVERTIR CON METRO FUTURO ###**/
    #homeBenefits{
        padding: 0;
        margin: 5% 0;
    }    

    #homeBenefits h3{
        font-size: 2.8em;
        text-align: start;
    }
    #homeBenefitsContainer{
        padding-top: 3%;
    }
    #homeBenefitsImg{
        width: 45%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #homeBenefitsImg img{
        width: 60%;
    }
    #homeBenefitsContainer ul{
        width: 60%;
        padding: 0 0 0 1%;
        margin: 0;
    }
    #homeBenefitsContainer ul li{
        padding: 1% 0;
        margin: 0;
        box-shadow: none;
        border-radius: none;
        border: none;
    }
    
    #homeBenefitsContainer ul li div{
        padding: 0 0 0 1%;
    }
    #homeBenefitsContainer ul li div img{
        width: 50px;
        height: 50px;
    }
    #homeBenefitsContainer ul li div h5{
        color: #000F33;
    }
    #homeBenefitsContainer ul li div p{
        font-size: 1.5em;
        line-height: 20px;
    }
/*! ### Beneficios de invertir con Metro Futuro ###**/

/** ### APRENDE CON METRO FUTURO ### */
    #homeLearnWithUs{
        height: 35vw;
        flex-direction: row;
        margin:  0;
    }
    #homeLearnWithUs .youTubeVideo_Container{
        margin: 0;
        height: 60%;
    }

    #homeLearnWithUs_Info{
        width: 65%;
        align-items: flex-end;
        padding: 0;
    }
    #homeLearnWithUs_Info h4{
        font-size: 3.5em;
        font-weight: 600;
    }
    #homeLearnWithUs_Info p {
        width: 90%;
        font-size: 1.5em;
        text-align: end;
        padding: 3% 0;
    }
    /* Link degradado */
    #homeLearnWithUs_Link {
        width: 20%;
    }
    
/*! ### Aprende con Metro Futuro ### */
    
/** #### Novedades ####*/
    #homeNews{
        height: 15vw;
        border-radius: 40px;
        background-image: linear-gradient(140deg,
                    hsl(222deg 100% 50%) 0%,
                    hsl(230deg 99% 64%) 0%,
                    hsl(231deg 97% 69%) 1%,
                    hsl(232deg 95% 73%) 2%,
                    hsl(233deg 93% 77%) 5%,
                    hsl(233deg 90% 80%) 10%,
                    hsl(234deg 86% 82%) 17%,
                    hsl(234deg 80% 85%) 26%,
                    hsl(235deg 74% 87%) 40%,
                    hsl(235deg 64% 89%) 56%,
                    hsl(236deg 51% 91%) 72%,
                    hsl(239deg 31% 93%) 87%,
                    hsl(0deg 4% 95%) 100%);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-size: 200% 300%;
        animation: gradient 15s ease-out infinite;
    }
    #homeNews_Text{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color:    #F3F2F2;
    }
    #homeNews_Text h2{
        font-size: 3em;
        font-weight: 500;
    }
    
    #homeNews_Text p {
        font-size: 1.1em;
        font-weight: 300;
    }
    
    /* Link degradado */
    #homeNews_degradedLink{
        width: 20%;
    }
/*! ### Novedades ### */
    
/** ### NUESTROS PARTNERS ### **/
    
    #homePartners{
        height: 50vh;
        margin: 5% 0;
    }
    
    #homePartners h3{
        font-size: 3.5em;
    }
    #homePartnersContainer{
        overflow: visible;
        padding: 0;
    }
    #homePartnersContainer ul{
        position: static;
        height: 100%;
        padding: 3% 5%;
    }
    #homePartnersContainer li{
        max-height: 90%;
        -webkit-transition: max-height 0.2s ease-in-out,width 0.2s ease-in-out,color 1s ease-in-out;
    }
    
    #homePartnersContainer li:hover{
        max-height: 100%;
        width: 35%;
        -webkit-transition: max-height 0.3s ease-in-out,width 0.2s ease-in-out,color 1s ease-in-out;
    }
/*! ### Nuestros partners ### **/
    


    /** #### PREGUNTAS FRECUENTES ####*/
    
    #homeFaq h3{
        font-size: 2.5em;
        font-weight: 500;
    }
    .faqList{
        width: 70%;
    }

    #principalFaqs{
        height: fit-content;
    }

    .faqItem,
    .faqItem--collapsed{
        padding: 4px;
        border-radius: 20px;
    }

    .faqContainer{
        border-radius: 16px;
    }

    .faqQuestion{
        padding: 0% 3%;
    }

    .faqItem h4 {
        font-size: 2.3em;
        padding: 5% 0;
        width: 90%;
    }

    .faqCross{
        width: 55px;
        height: 55px;
    }


    .faqResponse{
        font-size: 1.8em;
    }
    /***** Preguntas extra *****/

    #faqLink{
        width: 10%;
    }

/*! #### Preguntas frecuentes ####*/

}



