
.investmentDetailPage{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 6vw 10vh 6vw;
    background-color: #FBFDFF;
}

.investmentDetailPage section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 85vh;
    position: relative;
}

.investmentDetailPage .sectionBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.investmentDetailPage b,
.investmentDetailPage font {
    font-size: inherit;
    display: inline;
}

.investmentstPageTitle{
    justify-content: center;
}

.investmentstPageTitle h1{
    width: 100%;
    text-align: center;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: 500;
    /* display: inline; */
}
.investmentstPageTitle font{
    padding-left: 0.6% ;
}


/* Mapa */
.investmentDetailPage .Map{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.MapComponent{
    width: 100%;
    height: 60vh;
}