.investmentsPage{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 6vw 10vh 6vw;
    background-color: #FBFDFF;
}

.investmentsPage section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 85vh;
    position: relative;
}

.investmentsPage .sectionBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.investmentsPage b,
.investmentsPage font {
    font-size: inherit;
    display: inline;
}

.investmentstPageTitle{
    justify-content: center;
}

.investmentstPageTitle h1{
    width: 100%;
    text-align: center;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: 500;
    /* display: inline; */
}
.investmentstPageTitle font{
    padding-left: 0.6% ;
}
.investmentsPageList{
    margin: 5% 0;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
}

.investmentsPageListFilter{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5px;
    background: linear-gradient(to right, #004DFF 0%, #FF00CC 100%);
    border-radius: 15px;
    z-index: 0;
}
.investmentsPageListFilter form{
    width: 100%;
    height: 100%;
    padding: 1%;
    border-radius: 12px;
    background-color: #FBFDFF;
    z-index: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.investmentsSearch{
    width: 30%;
    border-radius: 50rem;
    padding: 2px;
    height: 100%;
    background-color: #F4F4F4;
    border: none;
    outline: none;
}
.investmentsSearchFocus input,
.investmentsSearch input{
    width: 100%;
    height: 100%;
    padding: 2%;
    border-radius: 50rem;
    background-color: #F4F4F4;
    border: none;
    outline: none;
}
.investmentsSearchFocus{
    background: linear-gradient(to right,#004DFF, #FF00CC);
    width: 30%;
    border-radius: 50rem;
    padding: 2px;
    height: 100%;
    border: none;
    outline: none;
}
.priceFilter{
    width: 10%;
    height: 100%;
    margin: 0 5%;
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50rem;
    background-color: #F4F4F4;
    position: relative;
    z-index: 5;
}
.priceFilter p{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: inherit;
}
.investmentsFilterHomeIcon{
    width: 25%;
    z-index: inherit;
}
.investmentsSearchFilterArrow{
    width: 10%;
    z-index: inherit;
}
.priceFilter ul{
    display: none;
}
/* .priceFilter:hover .priceFilterList, */
.priceFilter *{
    display: block;
}
.priceFilterList{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F4F4F4;
    z-index: 0;
}

.priceFilter li{
    list-style: none;
    padding: 5% 1%;
    z-index: 0;
}


/* #### Tarjetas de proyecto ####*/
.investmentsPageProjectsList{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investmentsPageProjectCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: fit-content;
    height: 40vh;
    margin: 2% 0;
    background: #FFFFFF;
    border: 1px solid #F3F2F2;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
    -webkit-transition: height 0.3s ease-in-out,width 0.3s ease-in-out,color 15s ease-in-out;
}
.investmentsPageProjectCard:hover{
    height: 45vh;
    width: 105%;
    -webkit-transition: height 0.3s ease-in-out,width 0.3s ease-in-out,color 15s ease-in-out;
}
.investmentsPageProjectsCover{
    width: 40%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.investmentsPageProjectsCover img{
    min-width: 100%;
    min-height: 100%;
}

.investmentsPageProjectCard a{
    width: 100%;
    height: 100%;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.investmentsPageProjectCard a:visited{
    width: 100%;
    height: 100%;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.investmentsPageProjectCard a:hover{
    width: 100%;
    height: 100%;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #004DFF;
}
.investmentsPageProjectInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    height: 100%;
    padding: 3% 3%;
}
.investmentsPageProjectInfoTitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.investmentsPageProjectInfoTitle h2{
    font-size: 2em;
}
.investmentsPageProjectInfoTitle p{
    font-size: 1.4em;
    color: #000F33;
    font-style: normal;
    font-weight: 300;
    padding: 1% 0;
}
.investmentsPageProjectInfoDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.investmentsPageProjectInfoDetails li{
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 0%;
}

.investmentsPageProjectInfoDetails li p{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000F33;
    font-style: normal;
    font-weight: 300;
}
