/*! #######################################*/
/*! ############### MOBILE ###############*/
/*! #######################################*/

.investmentDetailPage{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1vh 6vw 10vh 6vw;
    background-color: #FBFDFF;
}

.investmentDetailPage b,
.investmentDetailPage font {
    font-size: inherit;
    display: inline;
}

/** ############## **/
/** ### TÍTULO ### **/
/** ############## **/
.investmentDetailTitle{
    height: fit-content;
    margin: 5% 0;
}
.investmentDetailTitleInfo{
    width: 100%;
}
.investmentDetailTitleInfo h1{
    font-size: 2.1em;
    font-weight: 600;
    text-align: start;
    margin: 1% 0;
}
.investmentDetailTitleInfo h2{
    font-size: 1.7em;
    font-weight: 400;
    margin: 1% 0;
}

/** ############### **/
/** ### DETALLE ### */
/** ############### **/
.investmentDetailInfo{
    height: auto;
}
.investmentDetailInfo p{
    font-size: 1.5em;
}

/** ############### **/
/** ### RESUMEN ### **/
/** ############### **/
.investmentDetailResume{
    height: auto;
    justify-content: center;
    align-items: center;
}
.investmentDetailResume ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0;
}
.investmentDetailResume li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin: 2% 0;
    font-size: 1.5em;

}
.investmentDetailResume li img{
    width: 40px;
    margin: 0 3% 0 0;
}


/** ################# **/
/** ### DESCARGAS ### **/
/** ################# **/
.investmentDetailDownloads{
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.investmentDetailDownloads .degradedLink{
    width: 80%;
    padding: 1%;
}
.investmentDetailDownloads .degradedLink_TextContainer{
    padding: 1%;
}
.investmentDetailDownloads .degradedLink *{
    font-size: 1.3em;
    font-weight: 600;
}
/** ############ **/
/** ### MAPA ### **/
/** ############ **/
.investmentDetailPage .Map{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.MapComponent{
    width: 100%;
    height: 60vh;
}




/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {

    /** ############## **/
    /** ### TÍTULO ### **/
    /** ############## **/

    .investmentDetailTitleInfo h1{
        font-size: 2.5em;
    }
    .investmentDetailTitleInfo h2{
        font-size: 1.8em;
    }
    
    /** ############### **/
    /** ### RESUMEN ### */
    /** ############### **/
    .investmentDetailResume li{
        font-size: 1.7em;
        justify-content: center;
    }
    .investmentDetailResume li img{
        width: 45px;
    }

    /** ################# **/
    /** ### DESCARGAS ### **/
    /** ################# **/

    .investmentDetailDownloads .degradedLink{
        width: 50%;
        padding: 0.6%;
        margin: 2% 10%;
    }
    .investmentDetailDownloads .degradedLink_TextContainer{
        padding: 0.1%;
    }
    .investmentDetailDownloads .degradedLink *{
        font-size: 1.4em;
        font-weight: 600;
    }
    
}
    
/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {
    /** ############## **/
    /** ### TÍTULO ### **/
    /** ############## **/
    .investmentDetailTitleInfo h1{
        font-size: 3em;
    }
    .investmentDetailTitleInfo h2{
        font-size: 2em;
    }

    /** ############### **/
    /** ### DETALLE ### */
    /** ############### **/
    .investmentDetailInfo p{
        font-size: 2em;
    }

    /** ############### **/
    /** ### RESUMEN ### */
    /** ############### **/
    .investmentDetailResume li{
        font-size: 2em;   
        width: 25%;
    }
    .investmentDetailResume li img{
        width: 50px;
    }
    
    /** ################# **/
    /** ### DESCARGAS ### **/
    /** ################# **/
    .investmentDetailDownloads{
        justify-content: space-between;
    }
    .investmentDetailDownloads .degradedLink{
        width: 30%;
        padding: 0.3%;
        margin: 0% 0%;
    }
    .investmentDetailDownloads .degradedLink_TextContainer{
        padding: 0%;
    }
    .investmentDetailDownloads .degradedLink *{
        font-size: 1.2em;
        font-weight: 400;
        padding: 0.5% 0%;
    }
}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {
    /** ############## **/
    /** ### TÍTULO ### **/
    /** ############## **/
    .investmentDetailTitleInfo h1{
        font-size: 4em;
    }
    .investmentDetailTitleInfo h2{
        font-size: 2.5em;
    }


    /** ############### **/
    /** ### DETALLE ### */
    /** ############### **/
    .investmentDetailInfo p{
        font-size: 2.5em;
    }


    /** ############### **/
    /** ### RESUMEN ### */
    /** ############### **/
    .investmentDetailResume li{
        font-size: 2.5em;

    }
    .investmentDetailResume li img{
        width: 60px;
    }


    /** ################# **/
    /** ### DESCARGAS ### **/
    /** ################# **/
    .investmentDetailDownloads .degradedLink *{
        font-size: 1.5em;
    }
}