/* .learnPage section, 
.learnPage article,
.learnPage div{
    border: 1px solid black;
} */

/*! #######################################*/
/*! ############### MOBILE ###############*/
/*! #######################################*/
/* .learnCoursePage{
    justify-content: flex-start;
} */
/** ### Course Cover ### */
.learnCoursePage_Cover{
    width: 100%;
    height: fit-content;
    align-items: center;
    position: relative;
    margin: 0;
}
.learnCoursePage_Cover div{
    position: absolute;
    bottom: -5%;
    /* bottom: 0; */
    width: 100%;
    background: linear-gradient(180deg, rgba(251, 253, 255, 0) 7.61%, rgba(251, 253, 255, 0.12709) 16.22%, rgba(251, 253, 255, 0.253148) 22.67%, rgba(251, 253, 255, 0.392475) 29.2%, rgba(251, 253, 255, 0.705621) 47.48%, #FBFDFF 60.68%, #FBFDFF 87.2%);

    height: 30%;
    z-index: 10;
}
.learnCoursePage .learnCourseCover{
    width: 100%;
    object-fit: cover;
    
}

/** ### Course Title ### */
.learnCoursePage_Title{
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    height: fit-content;
    margin: 0;
    padding: 0;
}
.learnCoursePage_Title h1{
    font-size: 2rem;
    font-weight: 600;
    text-align: start;
    margin: 0;
    margin-bottom: 1rem;
}
.learnCoursePage_Title p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem;
}

/** ### Course Info ### */

.learnCoursePage_Info{
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
}
.learnCoursePage_Nav{
    width: 95%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid black;
}
.learnCoursePage_Nav li{
    width: fit-content;
    font-size: 1.3em;
    font-weight: 300;
    cursor: pointer;
 }
 .learnCoursePage_Nav .activeNav{
    font-weight: 600;
    color: black;
    border-bottom: 3px solid black;
 }.learnCoursePage_InfoContainer{
    width: 95%;
 }
 .learnCoursePage_InfoDescription{
    font-size: 1.5em;
 }

 .learnCoursePage_InfoVideos p{
    font-size: 1.5em;
 }


 .learnCoursePage_InfoAditional{
    display: flex;
    justify-content: center;
 }
 .learnCoursesCard_Type{
    font-weight: 300;
    z-index: 10;
    font-size: 1.7em;
    padding: 1% 10%;
    margin: 3% 0;
    color: white;
    
    border-radius: 50rem;
    background: linear-gradient(90.36deg, rgba(0, 77, 255, 0.6) -0.35%, rgba(0, 77, 255, 0) 135.57%);
 }
/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {
    
    
}

/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {

    .learnCoursePage_Cover{
        max-height: 60vh;
        overflow: hidden;
        width: 100vw;
        border-radius: 0;
    }
    .learnCoursePage_Nav li{
        font-size: 1.5em;
        padding: 2% 1%;
        
     }
}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {
     
}