/*! #######################################*/
/*! ############### MOBILE ###############*/
/*! #######################################*/


/** ### LEARN SLOGAN ### */
#learnSlogan{
    width: 90%;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
    padding: 0 10%;
    margin: 5% 0 0 0;
}
#learnSloganBackground{
    width: 100%;
}

#learnSlogan h2{
    font-weight: 600;
    text-align: center;
    font-size: 3em;
    z-index: 10;
}
/** ### LEARN COURSES ### */
#learnCourses{
    height: fit-content;
    width: 100%;
    min-height: 50vh;
    margin: 5% 0;
    flex-wrap: wrap;
    align-items: stretch;
}

#learnCoursesCard{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 90%;
    margin: 5% 0;
    min-height: 40vh;
    background: #FFFFFF;
    border: 1px solid #F3F2F2;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
    border-radius: 10px;
}

#learnCoursesCard img{
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
}

.learnCoursesCard_Difficulty{
    font-weight: 300;
    font-size: 1.7em;
    padding: 1% 10%;
    margin: 3% 0;
    color: white;
    border-radius: 50rem;

}
.learnCoursesCard_Difficulty--Básico{
    background: linear-gradient(90.36deg, rgba(0, 77, 255, 0.6) -0.35%, rgba(0, 77, 255, 0) 135.57%);
}
.learnCoursesCard_Difficulty--Avanzado{
    background: linear-gradient(90.36deg, rgba(255, 0, 204, 0.6) -0.35%, rgba(255, 0, 204, 0) 135.57%);
}

#learnCoursesCard h3{
    width: 95%;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    height: fit-content;
    align-self: flex-start;
    margin: 0;
    padding: 0;
}
#learnCoursesCard p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    align-self: flex-start;
    padding: 0 5%;
    margin: 0% 0;
}
#learnCoursesCard .degradedLink{
    align-self: flex-end;
}

/*! ########################################*/
/*! ##### TABLETS & LARGER SMARTPHONES #####*/
/*! ########################################*/
@media (min-width: 481px) {

    /** ### LEARN SLOGAN ### */
    #learnSlogan{
        height: 30vh;
    }

    /** ### LEARN COURSES ### */
    #learnCourses{
        min-height: 30vh;
        justify-content: space-around;
    }
    #learnCoursesCard{
        width: 45%;
        margin: 3% 0%;
    }
    .learnCoursesCard_Difficulty{
        margin: 0;
        font-size: 1.5em;
    }
    #learnCoursesCard h3{
        font-size: 1.7em;
    }
    #learnCoursesCard p{
        font-size: 1.3em;
    }


}

/*! ########################################*/
/*! ################ LAPTOPS ###############*/
/*! ########################################*/
@media (min-width: 769px) {

    /** ### LEARN COURSES ### */
    #learnCoursesCard{
        width: 32%;
        min-height: 30vh;
    }

    #learnCoursesCardDifficulty{
        font-size: 1.5em;
        padding: 0 5%;
        margin: 3% 0
    }
    #learnCoursesCard h3{
        padding: 1% 0;
    }
    #learnCoursesCard p{
        padding: 1% 1%;
    }
    #learnCoursesCard .degradedLink a{
        padding: 2%;
    }
}

/*! ########################################*/
/*! ############ LARGER DESKTOPS ###########*/
/*! ########################################*/
@media (min-width: 1280px) {
     /** ### LEARN COURSES ### */
     #learnCoursesCard{
        width: 30%;
        min-height: 50vh;
        padding: 0 0% 2% 0%;
    }

    #learnCoursesCardDifficulty{
        font-size: 1.5em;
        padding: 0 5%;
        margin: 3% 0
    }
    #learnCoursesCard h3{
        font-size: 2.3em;
        margin: 2% 0;
    }
    #learnCoursesCard p{
        font-size: 1.5em;
        padding: 1% 1.5%;
        margin: 3% 0;
    }
    #learnCoursesCard .degradedLink{
        width: 50%;
    }
    #learnCoursesCard .degradedLink a{
        padding: 2%;

    }
}