@font-face {
    font-family: "Lexend";
    src: url("./fonts/Lexend-VariableFont_wght.ttf");
}

.header{
    width: 100vw;
    height: 15vh;
    padding: 1vh 5vw 1vh 5vw;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header .title{
    font-size: 3em;
    color: #004DFF;
    width: 40%;
    align-items: center;
}

.header .navigation{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header .navigation li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .navigation a{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}